*{
	margin: 0px;
	padding: 0px;
	font-family: Fredoka One;
	box-sizing: border-box;
}

html, body{
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
}

.flexbox{
	display: flex;
	flex-direction: row;
}



.cooper-side-bar{
	position:fixed;
	background: rgba(102, 0, 153, 1);
	height: 2633px;
	width: 300px;
	left: 0px;
	top: 0px;
	border-radius: 0px;
	

}


.cooper-side-menu a{

	text-decoration:none;
	color:white;
	padding:25px 0 40px 3em;
	margin-bottom: 0.5em;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0em;
	text-align: center;
	height: 24px;
	left: 109px;
	top: 326px;
	border-radius: nullpx;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.cooper-side-menu a:hover{
	height: 50px;
	width:80%;
	top: 199px;
	border-top-right-radius: 25px;
	border-bottom-right-radius:25px;
	background: linear-gradient(178.18deg, #139B7E -13.56%, rgba(19, 155, 126, 0.21) 158.3%);
}



.cooper-side-menu{
	position:relative;
	top:70px;
	text-align:justify;
}

.cooper-side-menu img{
	margin-right: 1em;
	width: 1.2em;
}

.cooper-top-bar{

	width:1065px;
	background: rgba(255, 255, 255, 1);
	height: 100px;
	margin-left: 300px;
	margin-right:50px;

}

.cooper-logo-container{
	position: relative;
	left:10px;
	top:10px;
}

.cooperwallet{
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 40%;
	top: 30%
}

.walletimg{
	position: absolute;
	left: 40%;
	top: 20%;
}

.wallet-buttons{
	display: flex;
	position: absolute;
	left: 28%;
	top:100%;
}

.naira{
	margin-right: 50px;
}

.wallet-buttons button{
height: 60px;
width: 441px;
border-radius: 15px;
background: rgba(19, 155, 126, 1);
border-style: none;
color: white;
font-size: 24px;
}



